template(name='gym')    
    .ui.header 
        |gym
    if currentUser.gym_checkedin
        .ui.big.button.checkout
            |checkout
    else
        .ui.big.button.self_checkin
            |checkin
    .ui.header checkedin users
    each checkedin_users
        .ui.header #{checkedin_username}
    each checkin_sessions
        .ui.header #{checkedin_username}
    